body main section {
    margin: 2rem 0;
    padding: 1rem;

}

.bg {
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: var(--main-color);
}

#kontaktinfos {

    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    justify-items: flex-start;
    column-gap: 10px;
}

#oeffnungszeiten {
    text-align: center;
}

.formulare {
    display: flex;

}

/*form {
    margin: 3rem;
}*/

form input,
form textarea {
    margin: 1rem 0;
    padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 1rem;
}

h1 {
    text-align: center;
}

#anfahrt {
    text-align: center;
}


#anfahrt a {
    margin: 1rem 0 0 0;
    font-size: 15px;
}