.guestbook-container {
  background: var(--main-color);
  /*border: 4px solid var(--accent-color);*/
  width: 100%;
  max-width: 1100px;
  padding: 30px;
  margin: 30px auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.guestbook-subtitle {
  font-size: 33px;
  color: var(--title-color);
  margin-bottom: 20px;
  text-align: center;
}

.forum-topbar {
  margin-bottom: 14px;
  padding: 10px 12px;
  color: var(--secondary-color);
  background: var(--title-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  border-left: 6px solid var(--accent-color);
}

.btn {
  background: var(--secondary-color);
  border: 1px solid var(--line-color);
  padding: 4px 8px;
  text-decoration: none;
  color: var(--title-color);
  font-weight: bold;
  border-radius: 6px;
}

.btn:hover {
  background: var(--link-hover-color);
  color: var(--secondary-color);
}

.post {
  margin: 18px 0;
}

.posthead {
  padding: 8px 10px;
  color: var(--secondary-color);
  font-size: 13px;
  background: var(--title-color);
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-left: 6px solid var(--accent-color);
}

.postbody {
  padding: 10px;
  background: var(--secondary-color);
  font-size: 14px;
  color: var(--text-color);
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-left: 6px solid var(--accent-color);
}

.email {
  font-size: 12px;
  opacity: 0.8;
  margin-bottom: 6px;
  color: var(--text-color);
}

.posthead-font {
  color: var(--color1);
  font-weight: bold;
}

.kategorie-font {
  color: var(--title-color);
  font-weight: bold;
}

.success-message {
  color: #4caf50;
  font-weight: bold;
}

.error-message {
  color: var(--color3);
  font-weight: bold;
}

.highlight {
  color: var(--accent-color);
  font-weight: bold;
}

/*====================================*/
/*Kleine Tablets und große Smartphones*/
/*====================================*/
@media (max-width: 768px) {
  body.page-home .forum-topbar{
    font-size: 13px;
  }
}


/*====================*/
/*        Handy       */
/*====================*/

@media (max-width: 600px) {

  body.page-home .forum-topbar{
    font-size: 13px;
  }

  body.page-home .posthead{
    font-size: 10px;
  }
}


/*=====================*/
/*    Kleines Handy    */
/*=====================*/

@media (max-width: 480px) {

  body.page-home .forum-topbar{
    font-size: 10px;
  }

  body.page-home .posthead{
    font-size: 10px;
  }
}