.guestbook-container {
  background: var(--main-color);
  /*border: 4px solid var(--accent-color);*/
  padding: 30px;
  margin: 50px auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.guestbook-title {
  font-size: 26px;
  font-weight: bold;
  color: var(--title-color);
  margin-bottom: 20px;
  text-align: center;
}

.guestbook-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 40px;
}

.guestbook-form input,.guestbook-form textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid var(--accent-color);
  border-radius: 8px;
  font-family: var(--font-main);
  background: #fff;
  resize: none;
}

.guestbook-form button {
  background: var(--accent-color);
  border: none;
  padding: 12px 18px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  color: var(--text-color);
  cursor: pointer;
  transition: 0.3s;
}

.guestbook-form button:hover {
  background: var(--link-hover-color);
  color: white;
}

.entry {
  background: #fff;
  border-left: 6px solid var(--accent-color);
  padding: 18px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.entry-name {
  font-weight: bold;
  color: var(--title-color);
  margin-bottom: 5px;
}

.entry-date {
  font-size: 12px;
  color: #555;
  margin-bottom: 10px;
}