.guestbook-container {
  background: var(--main-color);
  /*border: 4px solid var(--accent-color);*/
  width: 100%;
  max-width: 1100px;
  padding: 30px;
  margin: 30px auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.guestbook-form select {
  display: block;
  width: 30%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-family: var(--font-main);
  box-shadow: 0 4px 12px rgba(0,0,0,0.45);
}

.guestbook-form select:hover,
.guestbook-form select:focus-visible{
  border: 2px solid var(--link-hover-color);
  outline: none;
}

.guestbook-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
}

.guestbook-form fieldset {
  border: none;
}

.guestbook-form label{
  color: var(--title-color);
  font-weight: bold;
  margin-bottom: 6px;
  display: inline-block;
}

.guestbook-form input,
.guestbook-form textarea {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-family: var(--font-main);
  resize: vertical;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.45);
  color: var(--text-color);
  cursor: text;
}

.guestbook-form input:hover,
.guestbook-form textarea:hover,
.guestbook-form input:focus,
.guestbook-form textarea:focus {
  border: 3px solid var(--link-hover-color);
  outline: none;
}

.form-action{
  display: flex;
  justify-content: center;
  padding: 10px;
}

.guestbook-form button {
  width: 100%;
  border: none;
  padding: 12px 18px;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 4px 12px rgba(0,0,0,0.45);
  background-color: var(--color2);
}

.guestbook-form button:hover{
  background: var(--link-hover-color);
  color: white;
}

.info{
  font-size: 13px;
  display: flex;
  justify-content: center;
}
