.img-section {
  max-width: 900px;
  margin: 30px auto;
  padding: 60px;
  background: white;
  display: grid;
}

.section-title {
  font-size: 20px;
  font-weight: normal;
  color: var(--title-color);
  letter-spacing: 3px;
  margin-bottom: 50px;
  text-align: center;
}

.section-subtitle {
  font-size: 30px;
  font-weight: normal;
  color: var(--accent-color);
  letter-spacing: 3px;
  margin-bottom: 10px;
  text-align: center;
}

.img-container {
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 40px;  
  display: grid;  
}

.img-item{
  width: 100%;
  max-width: 300px;
  margin-bottom: 50px;
  text-align: center;
}

.img-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.title {
  font-weight: normal;
  margin-top: 20px;
  text-align: center;
}
        
.description {
  font-size: 12px;
  margin-top: 10px;
  color: var(--title-color);
  text-align: center;
}

.price {
  font-weight: normal;
  margin-top: 10px;
  color: var(--title-color);
  text-align: center;
}


