.img-section {
  background: var(--main-color);
  /*border: 4px solid var(--accent-color);*/
  padding: 40px;
  margin: 50px auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.section-title {
  font-size: 30px;
  font-weight: normal;
  color: var(--title-color);
  letter-spacing: 3px;
  margin-bottom: 20px;
  margin-top: 40px;
  text-align: center;
}

.section-subtitle {
  font-size: 40px;
  font-weight: normal;
  color: var(--title-color);
  letter-spacing: 3px;
  margin-bottom: 20px;
  margin-top: 120px;
  text-align: center;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  margin-top: 40px;
}

.img-item {
  width: 200px;
  max-width: 200px;
  text-align: center;
  margin-bottom: 10px;
}

.img-item img {
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 3;
  object-fit: cover;
  border-radius: 12px;
}

.title {
  font-size: 20px;
  font-weight: normal;
  margin-top: 20px;
  text-align: center;

}

.description {
  font-size: 13px;
  margin-top: 10px;
  color: var(--title-color);
  text-align: center;
}

.price {
  font-weight: normal;
  margin-top: 10px;
  color: var(--title-color);
  text-align: center;
}

.category-select {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

#categoryDropdown {
  padding: 10px 16px;
  font-size: 22px;
  border-radius: 8px;
  border: 4px solid var(--accent-color);
  background: white;
  cursor: pointer;
  color: var(--title-color);
  margin-top: 20px;
}


@media (max-width: 900px) {
  .section-title,
  .section-subtitle {
    font-size: 24px;
  }
}

/* Handy */
@media (max-width: 600px) {
  .img-item {
    width: 100%;
  }
}